<!DOCTYPE html>
<html>
  <head>
    <title>CommissionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="pdfkit-page_size" content="Letter"/>
    <meta name="pdfkit-margin_top" content="0.5in"/>
    <meta name="pdfkit-margin_right" content="0.5in"/>
    <meta name="pdfkit-margin_bottom" content="0.5in"/>
    <meta name="pdfkit-margin_left" content="0.5in"/>

    <% if params[:grayscale] %>
      <meta name="pdfkit-grayscale" content="true"/>
    <% end %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
