<!DOCTYPE html>
<html>
  <head>
    <title>Commission Reporter</title>
    <%= wicked_pdf_stylesheet_link_tag "application" %>
  </head>

  <body class="report">
    <div class="reportHeading">
      <div>
        <h1>Commission Report</h1>
        <p><%= "Generated #{Date.today}" %></p>
      </div>

      <div>
        <%= wicked_pdf_image_tag "ferraro.png", height: "30px" %>
        <%= wicked_pdf_image_tag "napoli.png", height: "30px" %>
      </div>
    </div>
    <hr class="reportRule"/>

    <%= yield %>
  </body>
</html>
